<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>React app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.publicPath %>styles/font.css">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.publicPath %>styles/Draft.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
  <div id="root"></div>
</body>
</html>